/*@import url('bootstrap_css/bootstrap.css');
@import url('bootstrap_css/bootstrap.min.css');

@import "bootstrap_css/bootstrap.css";
@import "bootstrap_css/bootstrap-theme.min.css";*/
body{
    background: #ccc;
    margin: 0 auto;    
}
.page{
    margin: 5px 5px 5px 5px;
    border: 1px solid captiontext;
    padding: 10px;
    
}
.mainContent, .footer, .toggle, .fadecon, .btn-contain{
    margin: 100px 10px 20px 20px;
    border: 1px solid captiontext;
    padding: 20px;
    
}
.hideShowToggle, .fadeInOutTo, .contain{
    background-color: #eee;
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
.animation-contain{
    margin: 100px 10px 20px 20px;
    border: 1px solid captiontext;
    padding: 20px;
    position: relative;
    height: 400px;
}
.animation-img{
    background-color: #eee;
    padding: 20px;
    margin: 20px;
    height: 120x;
    width: 120px;
    position: absolute;
}


.logo img{
    height: 80px !important;
    width: 100px !important;
    padding: 10px;
}